/*! Momentanel styles */

/** GENERIC STYLE INFORMATIONS */

/*todo Universal Selector */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



/*todo HTML Tags */
body{
    font-family: sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}



/*todo Classes */
.container{
    width: 94.3%;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.bg-color_black{
    background-color: black;
}

.bg-color_black-opacity{
    background-color: rgba(0, 0,0, 0.85);
}

.color_white{
    color: white;
}



/*todo Combinations */





/** SPECIFIC STYLE INFORMATIONS */

/*todo Header Section */
header.flex{
    justify-content: end;
}

header .task{
    font-size: 0.7rem;
}



/*todo Main Section */