/** GENERIC STYLE INFORMATIONS */

/*? Universal Selector */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



/*? HTML Tags */
body{
    font-family: 'Lato' , sans-serif;
    font-size: 14px;
    overflow-y: hidden;
    min-width: 750px;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

button{
    border: none;
    text-decoration: none;
    border-radius: 0.3em;
}



/*? Classes */
.flex{
    display: flex;
}

.flex-centered{
    justify-content: center;
    align-items: center;
}

.p_relative{
    position: relative;
}

.p_absolute{
    position: absolute;
}

.p_fixed{
    position: fixed;
}

.bg-color_black{
    background-color: black;
}

.bg-color_light-black{
    background-color: #222222;
}

.bg-color_dark-grey{
    background-color: #49494a;
}

.bg-color_grey-opacity{
    background-color: rgba(126, 125, 125, 0.9);
}

.color_white{
    color: white;
}

.color_red{
    color: red;
}

.task,
button{
    font-size: 0.8em;
    cursor: pointer;
}

.task:hover,
button:hover{
    background-color: #646465;
    border-radius: 10%;
}





/** SPECIFIC STYLE INFORMATIONS */

/*? Header Section */
header{
    height: 60px;
}

header.p_fixed{
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

header.flex{
    justify-content: space-between;
}

header .task{
    padding:0 7px;
}

header .task.flex{
    flex-direction: column;
}

header .task.active .icon{
    color: #48bc07;
}

header .task .icon:not(header .more-options .icon){
    font-size: 2.3em;
    padding-bottom: 5px;
}

#end-call-btn{
    border-radius: 0;
    padding: 1em;
}



/*? Main Section */
header.p_fixed + main{
    padding-bottom: 3em;
}


/* Btns-container */
main .btns-container{
    padding-top: 0.3em;
}

main.color_white .btns-container button{
    color: white;
}

main .btns-container.flex{
    justify-content: end;
    align-items: center;
}

main .btns-container .task{
    padding: 0.3em;
    margin: 0.5em;
}

main .btns-container .task:last-of-type{
    margin-right: 0.1em;
}


/* Partecipants */
#partecipants{
    padding: 1.9em 0 2em;
}

#partecipants.flex{
    flex-wrap: wrap;
}

main .partecipant{
    background-image: url('https://picsum.photos/400/200');
    height: 110px;
    width: 190px;
    margin:0 5px 10px 0;
}

main .partecipant-infos.p_absolute{
    left: 0;
    bottom: 1px;
}